<% layout("layouts/boilerplate") %>

    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-10 offset-1 glass p-4">
            <h1 class="text-center">Izmeni stan</h1>
            <form action="/apts/<%= apt._id %>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3 text-input">
                    <label class="form-label" for="title">Naziv</label>
                    <input class="form-control" type="text" id="title" name="apt[title]" value="<%=apt.title %>"
                        required>
                    <div class="valid-feedback">Odlicno!</div>
                </div>
                <div class="mb-3 text-input">
                    <label class="form-label" for="short_description">Kratak opis:</label>
                    <textarea class="form-control" name="apt[short_description]" id="short_description" cols="30"
                        rows="5" required><%= apt.short_description %></textarea>
                    <div class="valid-feedback">Odlicno!</div>
                </div>
                <div class="number-inputs d-flex flex-row mb-3">
                    <div class="number-input">
                        <label class="form-label" for="price">Cena:</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">€</span>
                            <input type="text" class="form-control" id="price" name="apt[price]" placeholder="0.00"
                                aria-label="price" aria-describedby="price-label" value="<%=apt.price %>" required>
                            <div class="valid-feedback">Odlicno!</div>
                        </div>
                    </div>
                    <div class="number-input">
                        <label class="form-label" for="sq_mt">Metara kvadratnih:</label>
                        <input class="form-control" type="number" name="apt[sq_mt]" id="sq_mt" value="<%=apt.sq_mt %>"
                            required>
                        <div class="valid-feedback">Odlicno!</div>
                    </div>
                </div>
                <div class="number-inputs d-flex flex-row mb-3">
                    <div class="number-input">
                        <label class="form-label" for="rooms">Broj soba:</label>
                        <input class="form-control" type="number" name="apt[rooms]" id="rooms" value="<%=apt.rooms %>"
                            required>
                        <div class="valid-feedback">Odlicno!</div>
                    </div>
                    <div class="number-input">
                        <label class="form-label" for="floor">Sprat:</label>
                        <input class="form-control" type="number" name="apt[floor]" value="<%=apt.floor %>" id="floor">
                        <div class="valid-feedback">Odlicno!</div>
                    </div>
                </div>
                <div class="number-inputs d-flex flex-row mb-3">
                    <div class="number-input">
                        <label class="form-label" for="lat">Latituda:</label>
                        <input class="form-control" type="number" name="apt[lat]" id="lat" value="<%=apt.lat %>"
                            required>
                        <div class="valid-feedback">Odlicno!</div>
                    </div>
                    <div class="number-input">
                        <label class="form-label" for="long">Longituda:</label>
                        <input class="form-control" type="number" name="apt[long]" id="long" value="<%=apt.long %>"
                            required>
                        <div class="valid-feedback">Odlicno!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info" type="submit">Izmeni</button>
                </div>
            </form>
            <a href="/apts/<%= apt._id %> ">Vrati se na stan</a>
        </div>
        <div class="oval1"></div>
        <div class="oval2"></div>
        <div class="oval3"></div>
        <div class="oval4"></div>
    </div>