<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-10 offset-1 glass apts-index-glass d-flex flex-column">
            <h1>Stanovi Beograd</h1>
            <div class="apts-dashboard row d-flex  flex-row mx-1">
                <div id="apts-index-links" class="col-4 mb-3">
                <a href="/apts/new">Nova nekretnina</a></div>
                <div id="apts-name-filter-div" class="col-8 mb-3">
                <input class="form-control" id="apts-name-filter" type="text" placeholder="Filtriraj po naslovu"></div>
                <div class="apts-price-filter-div" class="col-12 mb-3">
                <%- include("../partials/doubleSlider") %>
            </div>
            </div>
            <div class="properties d-flex flex-column">
                <div class="cards d-flex flex-column">
            <% for (const apt of apts) { %>
                <div class="card my-3">
                    <div class="row">
                        <div id="apt-img-div" class="col-4"><img id="apt-img" class="img-fluid" src="<%= apt.image %>"
                                alt=""></div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5>
                                    <%= apt.title %>
                                </h5>
                                <p class="card-text"><small class="text-muted">Cena: <b>
                                            <%= apt.price %></b> €
                                        </small></p>
                                <p class="card-text"><small class="text-muted">Povrsina: <%= apt.sq_mt %>
                                            m<sup>2</sup></small></p>
                                <a href="/apts/<%= apt._id %>" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                </div>
            </div>
        </div>
        <div class="oval1"></div>
        <div class="oval2"></div>
        <div class="oval3"></div>
        <div class="oval4"></div>
    </div>
    <script src="/javascripts/doubleSlider.js"></script>
    <script src="/javascripts/indexFilterApts.js"></script>