<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-6 offset-3 glass p-4">
            <div class="card mb-3">
                <img src="<%= apt.image %>" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= apt.title %>
                    </h5>
                    <p class="card-text">Opis: <%= apt.short_description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">Cena: <%= apt.price %> €</li>
                    <li class="list-group-item text-muted">Broj soba: <%= apt.rooms %>
                    </li>
                    <li class="list-group-item text-muted">Povrsina: <%= apt.sq_mt %>
                    </li>
                    <li class="list-group-item text-muted">Latituda: <%= apt.lat %>
                    </li>
                    <li class="list-group-item text-muted">Longituda: <%= apt.long %>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="mb-3" id="map"></div>
                    <div class="buttons d-flex flex-row">
                    <a class="card-link btn btn-secondary flex-grow-1 mx-1" href="/apts/<%=apt._id%>/edit">Izmeni sadrzaj</a>

                    <form class="d-inline flex-grow-1 mx-1" action="/apts/<%=apt._id%>?_method=DELETE" method="POST"><button
                            class="btn btn-danger col-12">Izbrisi
                            stan</button>
                    </form></div>
                </div>
                <div class="card-footer text-muted">2 days ago</div>
            </div>
        </div>
        <div class="oval1"></div>
        <div class="oval2"></div>
        <div class="oval3"></div>
        <div class="oval4"></div>
    </div>
    <script>
        const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
        const apt = <%- JSON.stringify(apt) %>;
    </script>
    <script src="/javascripts/showPageAptMap.js"></script>