<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%= foundApt.image %>" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= foundApt.title %>
                    </h5>
                    <p class="card-text">Opis: <%= foundApt.short_description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">Cena: <%= foundApt.price %> evra</li>
                    <li class="list-group-item text-muted">Broj soba: <%= foundApt.rooms %>
                    </li>
                    <li class="list-group-item text-muted">Latituda: <%= foundApt.lat %>
                    </li>
                    <li class="list-group-item text-muted">Longituda: <%= foundApt.long %>
                    </li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/apts/<%=foundApt._id%>/edit">Izmeni sadrzaj</a>

                    <form class="d-inline" action="/apts/<%=foundApt._id%>?_method=DELETE" method="POST"><button
                            class="btn btn-danger">Izbrisi
                            stan</button>
                    </form>
                </div>
                <div class="card-footer text-muted">2 days ago</div>
            </div>
        </div>
    </div>