<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%= flat.image %>" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= flat.title %>
                    </h5>
                    <p class="card-text">Opis: <%= flat.short_description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">Procenjena vrednost: <%= flat.value %> evra</li>
                    <li class="list-group-item text-muted">Broj soba: <%= flat.rooms %>
                    </li>
                    <li class="list-group-item text-muted">Povrsina: <%= flat.sq_mt %>
                    </li>
                    <li class="list-group-item text-muted">Latituda: <%= flat.lat %>
                    </li>
                    <li class="list-group-item text-muted">Longituda: <%= flat.long %>
                    </li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/flats/<%=flat._id%>/edit">Izmeni sadrzaj</a>

                    <form class="d-inline" action="/flats/<%=flat._id%>?_method=DELETE" method="POST"><button
                            class="btn btn-danger">Izbrisi
                            stan</button>
                    </form>
                </div>
                <div class="card-footer text-muted">2 days ago</div>
            </div>
        </div>
    </div>